* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Schibsted Grotesk" !important;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: #202124 !important;
  background: #faf9f7 !important;
  font-size: 1rem;
}

ul li {
  list-style: none;
}
a {
  text-decoration: none !important;
}
button,
select {
  outline: none !important;
}
select option {
  border: 1px solid #e2e4e7 !important;
  border-radius: 5px !important;
}
select option:hover {
  background: #f6f4f1 !important;
}
.logo {
  width: 150px;
  height: 50px;
}

/* navigation */
header + .section {
  margin-top: 5rem;
}
.main-menu {
  padding: 10px 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
}

.container-navigation {
  display: flex;
  align-items: center;
}

/* Navigation Links */
/* .navigation {
  list-style: none;
  display: flex;
  gap: 20px;
}

.navigation-item a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
  padding: 10px 15px;
  transition: 0.3s ease;
}

.navigation-item a:hover {
  color: #007bff;
} */

.navigation {
  padding: 1rem 0;
}
.navigation .navigation-item {
  display: inline-block;
  padding: 0 0.5rem;
  font-weight: 500;
  font-size: 14px;
}
.navigation .navigation-item a {
  color: #787a7b;
  transition: color 0.2s ease-in-out;
}
.navigation .navigation-item a:hover {
  color: #ff7124;
}
.navigation .navigation-item a.active {
  color: #ff7124;
  font-weight: 600;
  border-bottom: 1px solid #ff7124;
}
.menuToggle {
  display: none;
}
.card-stat {
  transition: box-shadow cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.3s;
}
.card-stat:hover {
  box-shadow: 0 10px 30px rgba(115, 115, 115, 0.2);
}
.profile {
  width: 30px;
  height: 30px;
  padding: 0 !important;
  color: #606889;
  text-align: center;
  border: 1px solid #ff7124;
  color: #ff7124;
  transition: border color 0.2s ease-in-out;
}
.profile:hover {
  border: 1px solid #606889;
  color: #606889;
}
.profile img {
  background-position: center;
  background-size: cover;
  background-clip: initial;
  object-fit: cover;
}

.sub-profile {
  position: absolute;
  top: 80%;
  right: 0;
  width: 150px;
}
.sub-profile ul li a:hover {
  transition: color 0.2s ease-in-out;
}
.sub-profile ul li a:hover {
  color: #ff7124;
}
.btn-form {
  background: #faf9f7 !important;
  font-size: 14px !important;
  color: #787a7b !important;
  border: 1px solid #e2e4e7 !important;
  border-radius: 4rem !important;
}
.btn-form:hover {
  background: #ff7124 !important;
  color: #faf9f7 !important;
  border: 1px solid #ff7124;
}

.btn-profile {
  background: #faf9f7 !important;
  color: #787a7b !important;
  border: 1px solid #e2e4e7 !important;
  transition: background, color, border 0.2s ease-in-out;
}
.btn-profile:hover {
  background: #ff7124 !important;
  color: #faf9f7 !important;
  border: 1px solid #ff7124;
}
.btn-login {
  background: #ff7124 !important;
  color: #faf9f7 !important;
  transition: background, color, border 0.2s ease-in-out;
}
/* tab */
.tab-btn {
  border-radius: 0.265rem 0.265rem 0 0;
  border-bottom: none !important;
}
.tab-btn.active {
  background: #faf9f7;
}
.tab-content {
  display: none;
  border-radius: 0.265rem 0 0.265rem 0.265rem;
  transition: opacity 0.4s ease-out;
}
.tab-content.active {
  display: block;
}

.active-tab {
  background: #faf9f7 !important;
}
/* Hide the row but allow animation */
.hidden-row {
  display: none; /* Fully hidden before clicking */
  height: 0;
  opacity: 0;
  transition: max-height 0.4s ease-in-out, opacity 0.3s ease-in-out;
}

/* Show with animation */
.hidden-row.show {
  height: auto;
  display: table-row;
}

.hidden-row.show .hidden-content {
  opacity: 1;
  border-top: none;
}
/* login */
.login {
  width: 40%;
}
.login-img {
  border: 1px solid #ff7124;
}
.login-img .bi {
  font-size: 4rem;
}
.link a {
  color: #ff7124;
}
.input {
  border: 1px solid #e2e4e7;
}
.input::placeholder {
  color: #a6a7a7;
  font-weight: 50 !important;
  font-size: 13px;
}
input:focus,
textarea:focus {
  outline: none;
}
textarea {
  resize: none !important;
}
.input::-webkit-calendar-picker-indicator {
  color: #787a7b;
  background: url("../IMG/svg/chevron-down.svg") no-repeat center;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  padding: 0.2rem;
  margin: 0 0.2rem;
  cursor: pointer;
}
.input::-webkit-datetime-edit-text {
  padding: 0 0.1em;
}

.divide {
  width: 1px;
  height: 25px;
}

/* Content sidebar */
.main-content {
  width: 80%;
  margin-left: 28%;
  border-right: 1px solid #e2e4e7;
}
.sidebar {
  position: fixed;
  width: 20%;
  height: 100vh;
  border-left: 1px solid #e2e4e7;
  border-right: 1px solid #e2e4e7;
}
.sidebar .title,
.search-header {
  height: 120px;
  border-bottom: 1px solid #e2e4e7;
}

/* search bar */
.search input {
  width: 350px;
  height: 40px;
  border-radius: 4rem 0 0 4rem;
  border: 1px solid #e2e4e7;
  color: #787a7b;
  font-size: 14px;
}
.search input:focus {
  outline: none !important;
  color: #787a7b;
}
.search button {
  width: 90px;
  height: 40px;
  border: none;
  border-radius: 0 4rem 4rem 0;
  border: 1px solid #e2e4e7;
  background: #fff;
  margin: 0 -3px;
  color: #787a7b;
  transition: background 0.2s ease-in-out;
}
.search button:hover {
  background: #ff7124;
  border: 1px solid #ff7124;
  color: #fff;
}

.search-header a,
._btn {
  border-radius: 0.5rem;
  border: 1px solid #e2e4e7;
  color: #787a7b;
  transition: background 0.2s ease-in-out;
}
.search-header a:hover,
._btn:hover {
  background: #ff7124 !important;
  border: 1px solid #ff7124;
  color: #fff;
}
.search-header a.active {
  background: #ff7124 !important;
  border: 1px solid #ff7124;
  color: #fff;
}
.submenu-header a {
  border-radius: 0.5rem;
  border: 1px solid #e2e4e7;
  color: #787a7b;
  transition: background 0.2s ease-in-out;
}
.submenu-header a:hover {
  background: #ff7124 !important;
  border: 1px solid #ff7124;
  color: #fff;
}
.submenu-header a.active {
  background: #ff7124 !important;
  border: 1px solid #ff7124;
  color: #fff;
}
/* box container */
.accord-item {
  animation: testim-show 0.5s ease-in-out forwards;
}
.accordion.active {
  border: 1px solid #ff7124;
}
.accordion.active p,
.accordion.active .bi {
  color: #ff7124;
}

.hide {
  display: none;
  animation: testim-content-out 0.5s ease-in-out forwards;
}
.scroll-data {
  height: 410px;
  padding: 0.5rem;
}
.scroll-data::-webkit-scrollbar {
  padding: 0.5rem;
  width: 7px;
  background: #faf8f5 !important;
}
.scroll-data::-webkit-scrollbar-thumb {
  background: #ede7e1 !important;
  border-radius: 10px;
}
.box-link .box-list li {
  width: 100%;
  margin: 0.5rem 0;
  border: 1px solid #e2e4e7;
  border-radius: 10px;
  transition: border 0.2s ease-in-out;
}

.box-link .box-list a li {
  font-size: 14px;
  color: #787a7b;
  transition: color, border 0.2s ease-in-out;
}
.box-link .box-list li:hover {
  border: 1px solid #ff7124;
  color: #ff7124;
}

.box-link li.active {
  border: 1px solid #ff7124;
  color: #ff7124 !important;
}
.box-link li.active a {
  color: #ff7124;
}
.searchByCritere a {
  font-size: 14px;
  background: #faf9f7;
  color: #787a7b;
  transition: color background 0.2s ease-in-out;
}
.searchByCritere a:hover {
  background: #ff7124;
  color: #fff;
  border: 1px solid #ff7124;
}
.searchByCritere a.active {
  background: #ff7124;
  color: #fff;
  border: 1px solid #ff7124;
}
/* button */
.bl-link {
  font-size: 14px !important;
  color: #787a7b !important;
  border: 1px solid #e2e4e7 !important;
  border-radius: 4rem !important;
  transition: border, color 0.2s ease-in-out;
}
.bl-link:hover {
  border: 1px solid #ff7124 !important;
  color: #ff7124 !important;
}

/* table */
table {
  border-collapse: collapse !important;
  border: 1px solid #e2e4e7 !important;
}
table tr td,
table tr th {
  background: none !important;
}
table tr:nth-last-child(1) td {
  border-bottom: none !important;
}
table thead {
  background: #fdfdfd !important;
  border: 1px solid #e2e4e7 !important;
}
table thead th {
  font-size: 0.9rem !important;
  color: #606889 !important;
  font-weight: 500 !important;
  padding: 0.8rem 0.9rem !important;
}
table tbody tr td {
  padding: 0.8rem 0.9rem !important;
}
table tbody tr td {
  color: #787a7b !important;
  font-size: 0.875rem;
}

/* footer */

.footer-link li a {
  color: #606889;
  font-weight: normal;
  transition: color 0.2s ease-in-out;
}
.footer-link li a:hover {
  color: #e8dfd5;
}

/* modal */

.modal-form,
.modal-form-role {
  width: auto;
  z-index: 1;
  top: 45%;
  right: 18%;
  display: none;
}

.modal-form .close:hover,
.modal-form-role .close:hover {
  background: #faf9f7;
}

/* custom checkbox */
.checkbox-container {
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #787a7b;
  border: 1px solid #e2e4e7;
  padding: 0.3rem 0.6rem;
  border-radius: 4rem;
}

/* Hide the default checkbox */
.checkbox-container input[type="checkbox"] {
  display: none;
}

/* Style the custom checkbox */
.checkbox-container .custom-checkbox {
  width: 16px;
  height: 16px;
  border: 1px solid #e2e4e7;
  border-radius: 3px;
  margin-right: 10px;
  position: relative;
  cursor: pointer;
}

/* When checkbox is checked, change the background and add a tick */
.checkbox-container input[type="checkbox"]:checked + .custom-checkbox {
  background-color: #ff7124;
  border-color: #ff7124;
}
/* custom date Picker */
.datetime-input {
  width: 150px;
}

.calendar-popup {
  position: absolute;
  top: 45px;
  left: 0;
  box-shadow: 0 10px 30px rgba(115, 115, 115, 0.2);
  z-index: 100;
}

.calendar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.calendar-days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 4px;
}

.calendar-day {
  padding: 4px;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
  border: 1px solid #e2e4e7;
  font-size: 13px;
  color: #787a7b;
  transition: background 0.2s ease-in-out;
}

.calendar-day:hover {
  background: #faf9f7;
  color: #787a7b;
}
.hidden {
  display: none;
}
.selected {
  background: #ff7124;
  color: #fff;
  border: 1px solid #ff7124;
}

._btn:disabled,
._btn[disabled] {
  background: #e2e4e7;
  color: #787a7b;
  cursor: not-allowed;
}
._btn.disabled:hover,
._btn[disabled]:hover {
  background: #e2e4e7 !important;
  border: 1px solid #e2e4e7 !important;
  color: #787a7b;
  cursor: not-allowed;
}
